{% extends "template.html" %}
{% block content %}
	<h1 class="documentFirstHeading">Request a New Course Setup</h1>
	<p class="documentDescription">Use this form to request setup for a new course profile on the Camtasia Relay server.</p>
	<div id="parent-fieldname-formPrologue">
		<p>We need to collect a little information about the course you want to set up. It shouldn't hurt too badly.</p>
	</div>
	<div>
		<form role="form" method="post" action="">
		{{ form.csrf_token }}
			<div>
				{{ form.course.label }}
				<div class="formHelp">{{ form.course.description }}</div>
			</div>
			{{ form.course }}
			<div class="field ArchetypesBooleanWidget ">
				{{ form.embed }} {{ form.embed.label }}
				<div class="formHelp">{{ form.embed.description }}</div>
			</div>
			<div>
				{{ form.download }} {{ form.download.label }}
				<div class="formHelp">{{ form.download.description }}</div>
			</div>
			<div>
				{{ form.share }} {{ form.share.label }}
				<div class="formHelp">{{ form.share.description }}</div>
			</div>
			<div class="field ArchetypesTextAreaWidget ">
				{{ form.location.label }}
				<div class="formHelp">{{ form.location.description }}</div>
				<span class="blurrable firstToFocus" rows="1" cols="40">{{ form.location }}</span>
			</div>
			<div class="field ArchetypesSelectionWidget ">
				<span class="formQuestion">{{ form.expiration.label }}</span>
				<div class="formHelp">{{ form.expiration.description }}</div>
				{{ form.expiration }}
			</div>
			<div>
				{{ form.training }} {{ form.training.label }}
				<div class="formHelp">{{ form.training.description }}</div>
			</div>
			<div>
				{{ form.comments.label }}
				<span class="blurrable firstToFocus" rows="5" cols="40">{{ form.comments }}</span>
			</div>
			<input class="context" type="submit" name="form_submit" value="Submit"></input>
		</form>
	</div>
{% endblock %}